<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            <span v-if="seen">Now we are in if</span>
            <span v-else="seen">Now we are in else</span>
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
                                 app.todos.push({ text: 'Baz' })


            </ol>
        </div>
            
        <script src="index.js"></script>
    </body>
</html>